[Domoticz]
enabled = False

host = 127.0.0.1
port = 80
password = ""
username = ""

# fill here the idx of the devices
capacity = ?
status = ?
voltage = ?


[MQTT]
enabled = False

password = ""
username = ""
port = 1883
host = 127.0.0.1

